<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Networking in Space</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
  </head>

  <body>
    <header>
      <h1>Networking in Space</h1>
      
      <nav>
        <a class="<%= activeRoute === '/' ? 'active' : '' %>" href="/">Home</a>
        <a class="<%= activeRoute === 'satellite-internet' ? 'active' : '' %>" href="/satellite-internet">Satellite Internet</a>
        <a class="<%= activeRoute === 'deep-space-network' ? 'active' : '' %>" href="/deep-space-network">Deep Space Network</a>
        <a class="<%= activeRoute === 'interplanetary-internet' ? 'active' : '' %>" href="/interplanetary-internet">Interplanetary Internet</a>
      </nav>
    </header>