<%- include('partials/header.ejs') %>

  <main>
    <figure>
      <img alt="JPL DSN Satellite Dish" src="https://www.nasa.gov/sites/default/files/thumbnails/image/pia23617-nasa.jpg" />
    </figure>
    <div id="topic-content">
      <p>JPLs Deep Space Network or DSN, is the most sophisticated radio sensing equipment in the world.
      </p>
      <p>
        The DSN is a collection of ground radio attenas and some in Earth's orbit, whose purpose is to support JPL communicating with various mission crafts.
      </p>
      <p>In order to maintain continuous communication coverage, each ground station attena is located distributed equally around the globe. There are three primary locations, one in California, one in Spain, and one in Australia.
      </p>
      <p>
        Communication received by DSN is essential in relaying amazing data received by missions future and past.
      </p>
    </div>
  </main>

  <div class="references">
    <div>
      <strong>Referenced Links</strong>
    </div>
    <div class="links">
      <a href="https://www.nasa.gov/directorates/heo/scan/services/networks/deep_space_network/about">What is the Deep Space Network?</a>
      <a href="https://www.nasa.gov/sites/default/files/thumbnails/image/pia23617-nasa.jpg">Page Image of JPL DSN Satellite Dish</a>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
