<%- include('partials/header.ejs') %>

  <main>
    <figure>
      <img alt="Graphic Networking Globe Shape" src="https://mixkit.imgix.net/videos/preview/mixkit-networking-in-the-shape-of-a-globe-in-space-26770-0.jpg" />
    </figure>
    <div id="topic-content">
      <p>
        There are many facets of internet in space. We'll present just a few topics of interest
      </p>

      <ul>
        <li>Satellite Internet</li>
        <li>Deep Space Network (NASA/JPL)</li>
        <li>Interplanetary Internet</li>
      </ul>

      <p>
        <em>Satellite Internet</em> is as its name suggests, internet access as provided by communication satellites in orbit around Earth. Satellite Internet is an option for rural areas or other areas where accessing the infrastructure of the typical
        internet would be difficult.
      </p>

      <p>
        The Deep Space Network, or DSN, is JPL's solution for communicating with its various crafts in space. The DSN is the world's most sensitive radio sensing equipment in the world. Although the DSN primarily communicates with radio waves, other options have
        been explored, such as laser communication.
      </p>

      <p>
        For each craft NASA sends into space, there is typically a bespoke software written for communicating with the craft. Now that there are so many devices in space, and there is such a committed presence both around Mars and elsewhere, a more robust solution
        is to create an entirely new protocol, tailored for networked communication in space. Interplanetary internet still has a long way to go to fully develop the protocol. Vincent Cerf, a leader in initial networking achievements for the internet,
        is very active in the effort.
      </p>
    </div>
  </main>

  <div class="references">
    <div>
      <strong>Referenced Links</strong>
    </div>
    <div class="links">
      <a href="https://www.nasa.gov/directorates/heo/scan/services/networks/deep_space_network/about">What is the Deep Space Network?</a>
      <a href="https://www.wired.com/2013/05/vint-cerf-interplanetary-internet/">Google's Chief Internet Evangelist on Creating the Interplanetary Internet</a>
      <a href="https://www.satelliteinternet.com/resources/what-is-satellite-internet/">What is Satellite Internet?</a>
      <a href="https://mixkit.imgix.net/videos/preview/mixkit-networking-in-the-shape-of-a-globe-in-space-26770-0.jpg">Page Image of Networking Globe Shape</a>
    </div>
  </div>


  <%- include('partials/footer.ejs') %>
