<%- include('partials/header.ejs') %>

  <main>
    <figure>
      <img alt="Satellite in Space" src="https://internet-access-guide.com/wp-content/uploads/2019/07/what-is-satellite-internet-how-it-works.jpg" />
    </figure>
    <div id="topic-content">
      <p>
        Satellite Internet is basically internet that is provided by satellites orbiting Earth. Satellite internet, like satellite telephone, is an attractive solution in areas where the infrastructure of traditional internet is not available.
      </p>
      <p>
        Typically, satellites are in geostationary orbit; however, it is possible to get better performance if the satellite is in an even lower orbit.
      </p>
      <p>
        In order to access the internet via satellite, a satellite dish is required, along with a special modem that can translate data between internet ready devices and the satellite dish. For the connection to work properly, it is important where the sateliite
        is placed and positioned. A satellite internet technician should take care of the installation.
      </p>
    </div>
  </main>

  <div class="references">
    <div>
      <strong>Referenced Links</strong>
    </div>
    <div class="links">
      <a href="https://www.satelliteinternet.com/resources/what-is-satellite-internet/">What is Satellite Internet?</a>
      <a href="https://internet-access-guide.com/wp-content/uploads/2019/07/what-is-satellite-internet-how-it-works.jpg">Page Image of Satellite in Space</a>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
